<h1>Loyal customers</h1>
<div class="row">
  <div class="small-12 columns small-centered">
    <table>
      <thead>
        <tr>
          <th>Pos.</th>
          <th>Points</th>
          <th>ID</th>
          <th>Full name</th>
        </tr>
      </thead>

      <tbody>
        <% i = 1 %> 
        <% @clients.each do |client| %>
          <tr>
            <td>#<%= i %></td>
            <td><span class="label round"><%= client.points %></span></td>
            <td><%= client.cedula %></td>
            <td><%= link_to client.full_name, client %></td>
          </tr>
          <% i = i + 1 %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<br>
<div id="paginator">
  <%= will_paginate @clients, renderer: FoundationPagination::Rails, :previous_label => '<', :next_label => '>' %>
</div>